

<!-- Map -->
<div class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.5905159764898!2d105.7878586148547!3d21.04906438598733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab2e3a2b1dd9%3A0xe3a26226564daffb!2zU2hvcCBHacOgeSBUaOG7gyBUaGFv!5e0!3m2!1svi!2s!4v1670336941156!5m2!1svi!2s"
    width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- End map -->

<!-- Contact Section Begin -->
<section class="contact spad pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="contact__text">
          <div class="section-title">
            <h2>Thông tin liên hệ</h2>
            <p style="color: red;">
              "Đặt sự hài lòng của khách hàng là ưu tiên số 1 trong mọi suy nghĩ hành động của mình” là sứ mệnh, là triết lý, chiến lược.. luôn cùng Shoes Store tiến bước"
            </p>
          </div>
          <ul class="p-0">
            <li>
              <h4>Hà Nội</h4>
              <p>
                Tòa nhà FPT Polytechnic, P. Trịnh Văn Bô, Xuân Phương, Nam Từ Liêm, Hà Nội<br />0336918571
              </p>
            </li>
            <li>
              <h4>Hồ Chí Minh</h4>
              <p> 391A Đ. Nam Kỳ Khởi Nghĩa, Phường 14, Quận 3, Thành phố Hồ Chí Minh 700000<br />0886332258</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="contact__form">
          <form action="#">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Name" />
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Email" />
              </div>
              <div class="col-lg-12">
                <textarea placeholder="Message" class="form-control"></textarea>
                <button type="submit" class="site-btn btn-dark">
                  Gửi liên hệ
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section End -->
