

<!-- Map -->
<div class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29792.793018777746!2d105.7915922227579!3d21.02871931411004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3d6f50d0f1%3A0x6c47e39f2b434013!2sTh%E1%BB%9Di%20trang%20Mando!5e0!3m2!1svi!2s!4v1654700888203!5m2!1svi!2s"
    width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- End map -->

<!-- Contact Section Begin -->
<section class="contact spad pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="contact__text">
          <div class="section-title">
            <h2>Thông tin liên hệ</h2>
            <p style="color: red;">
              "Đặt sự hài lòng của khách hàng là ưu tiên số 1 trong mọi suy nghĩ hành động của mình” là sứ mệnh, là triết lý, chiến lược.. luôn cùng Flone tiến bước"
            </p>
          </div>
          <ul class="p-0">
            <li>
              <h4>Hà Nội</h4>
              <p>
                Số nhà 17, Tổ 2 , Khu phố Xuân Hà, TT Xuân Mai, Chương Mỹ, Hà Nội<br />0911211258
              </p>
            </li>
            <li>
              <h4>Hồ Chí Minh</h4>
              <p>số 495 Nguyễn Thị Thập, phường Tân Phong, quận 7, thành phố Hồ Chí Minh <br />0886332258</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="contact__form">
          <form action="#">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Name" />
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Email" />
              </div>
              <div class="col-lg-12">
                <textarea placeholder="Message" class="form-control"></textarea>
                <button type="submit" class="site-btn btn-dark">
                  Gửi liên hệ
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section End -->
