<h3 class="">Đổi mật khẩu</h3>
<hr>
<div class="" style="padding:0px 300px;margin-top: 60px;" [formGroup]="userForm">

  <label for="lastName" class="form-label">Mật khẩu cũ</label>
  <input #x type="password" class="form-control" id="password" placeholder="Nhập mật khẩu cũ"
    formControlName="password">
  <div *ngIf="f.password.invalid&&(f.password.dirty||f.password.touched) ">
    <div *ngIf="f.password.errors">
      <div *ngIf="f.password.errors.required">
        <small>Mật khẩu cũ không được để trống</small>
      </div>
      <div *ngIf="f.password.errors.minlength">
        <small>Mật khẩu không được nhỏ hơn 6 ký tự.</small>
      </div>
    </div>
  </div>
  <label for="lastName" class="form-label">Mật khẩu mới</label>

  <input #y type="password" class="form-control" id="oldPassword" placeholder="Nhập mật khẩu mới"
    formControlName="newPassword">
  <div *ngIf="f.newPassword.invalid&&(f.password.dirty||f.newPassword.touched) ">
    <div *ngIf="f.newPassword.errors">
      <div *ngIf="f.newPassword.errors.required">
        <small>Mật khẩu mới không được để trống</small>
      </div>
      <div *ngIf="f.newPassword.errors.minlength">
        <small>Mật khẩu không được nhỏ hơn 6 ký tự.</small>
      </div>
    </div>
  </div>
  <div>
    <input class="hide" id="check" type="checkbox" (click)="x.type=x.type=='password'?'text':'password'"
      (click)="y.type=y.type=='password'?'text':'password'" style="width:15px;">
    <label for="check" style="padding-top:11px;padding-left: 5px; position: absolute;">Hiện mật
      khẩu</label></div>
  <div *ngIf="userForm.valid">
    <button style="width:30%;margin-left:36%" type="submit" (click)="updatePassword()">Cập nhật </button>
  </div>
  <div *ngIf="!userForm.valid">
    <button style="width:30%;margin-left:36%" type="submit" disabled (click)="updatePassword()">Cập nhật </button>
  </div>
</div>
