
<!doctype html>
<html lang="vi">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:image:height" content="800">
  <link href="https://www.coolmate.me/css/sizechart.css?v=aniGMsrcl90C3a2sZF" rel="stylesheet" type="text/css">
</head>
<body class="size-chart-page  ">
  <div id="g_id_onload" data-client_id="902943331882-9ovkeogfjqv7k0sm6us39cd566nc77bo.apps.googleusercontent.com"
    data-login_uri="https://www.coolmate.me/google/one-tap-callback"
    data-_token="CiYBTDrBzJAPZcIqdKROFNbJPBqMkarp1jpy3LJ0">
  </div>
  <div id="app">
    <main class="site-size-chart">
      <div class="container container--medium">
        <h1 class="size-chart__heading">
          Hướng dẫn chọn size chuẩn
        </h1>
        <div class="size-chart__head">
          <span>1</span>
          <span>2</span>
          <span>3</span>
        </div>
        <!-- <div class="size-chart__inner"> -->
        <div class="grid">
          <div class="grid__column four-twelfths mobile--one-whole">
            <h3 style="margin-top:0.19rem;margin-bottom: 2.5rem;" class="size-chart__title">Loại sản phẩm</h3>
            <div id="size-select-table" style="width: 100%;">

              <mat-form-field style="width:100%">
                <mat-label style="color: #343232;">{{nameProduct}}</mat-label>
                <mat-select style="max-height:220px">
                  <mat-form-field style="width:100%;" class="example-full-width" appearance="fill">
                    <input matInput placeholder="Mời bạn nhập loại sản phẩm..." [formControl]="nameControl">
                  </mat-form-field>
                  <div *ngFor="let item of products">
                    <!-- <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"> -->
                    <mat-option class="option" style="width:100%;height: 120% ;background-color: white;"
                      (click)="uploadImage(item)" (click)="getSize()">
                      <img style="float:left;width:25%" src="{{item.image}}" value="long-shirt">
                      <p style="width:60%;float: left;margin-top: 2rem;margin-left:2rem">{{item.name}}
                      </p>
                    </mat-option>
                    <!-- </mat-autocomplete> -->
                    <hr>
                  </div>
                </mat-select>
              </mat-form-field>

              <a class="size-chart__all" rel-script="view-all-size-chart">Xem tất cả bảng size</a>
              <div class="size-chart__image" rel-script="size-chart-image">
                <img src="{{image}}">
              </div>
            </div>
          </div>
          <div class="grid__column eight-twelfths mobile--one-whole">
            <div class="size-chart__content">
              <div id="size-suggestion" class="size-suggestion-content" data-height="155" data-weight="84"
                data-body="normal">
                <form action="" rel-script="size-suggestion">
                  <div class="size-suggestion">
                    <div class="grid">
                      <div class="grid__column six-twelfths mobile--one-whole">
                        <h3 class="size-chart__title">Thông số cơ thể</h3>

                        <!-- <mat-card class="example-result-card"> -->
                        <div style="padding:2px;padding-top:5px"><span>Chiều cao: </span> <b style="float: right ;"
                            class="gridSizeValue">{{height.value}} cm</b></div>

                        <mat-slider style="width:100% ;" #height (click)="getSize()" (change)="updateHeight($event)"
                          step="1" min="149" max="195">
                        </mat-slider>

                        <div style="padding:2px;padding-top:5px"><span>Cân nặng: </span> <b style="float: right ;"
                            class="gridSizeValue">{{weight.value}} kg</b></div>
                        <mat-slider style="width:100% ;" #weight (click)="getSize()" (change)="updateWeight($event)"
                          step="1" min="41" max="105">
                        </mat-slider>
                      </div>





                      <!-- </mat-card> -->


                      <div class="grid__column six-twelfths mobile--one-whole">
                        <h3 class="size-chart__title">Gợi ý</h3>
                        <div class="size-suggestion__active" rel-script="size-suggestion-values">
                          <div class="size-suggestion__size-width">
                            <span style="text-transform: uppercase;">{{getSizeCate}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="size-chart__description">
                <h3>Size chart</h3>
                <p>
                  * Thông số cơ bản của các sản phẩm Flone: Lấy chiếc áo mà các bạn đang<br>
                  mặc và cảm thấy vừa nhất sau đó đo các kích thước của áo,và đối chiếu với bảng<br> thông số của
                  chúng tôi theo các kích thước sau:
                </p>
              </div>
              <div id="size-table" class="size-chart__table">
                <div id="ao-oversize" class="size-cart__item mgb--20">
                  <div class="size-cart__table">
                    <table class="table-sizechart one-whole">
                      <thead>
                        <tr>
                          <td><span>Kích thước<br>(size)</span></td>
                          <td>
                            <span>Chiều cao<br>(cm)</span>

                          </td>
                          <td>
                            <span>Cân nặng<br>(kg)</span>

                          </td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><span class="text--bold">S</span></td>
                          <td>149-155</td>
                          <td>41-49</td>
                        </tr>
                        <tr>
                          <td><span class="text--bold">M</span></td>
                          <td>156-160</td>
                          <td>50-59</td>
                        </tr>
                        <tr>
                          <td><span class="text--bold">L</span></td>
                          <td>161-169</td>
                          <td>60-69</td>
                        </tr>
                        <tr>
                          <td><span class="text--bold">XL</span></td>
                          <td>170-178</td>
                          <td>70-79</td>
                        </tr>
                        <tr>
                          <td><span class="text--bold">XXL</span></td>
                          <td>179-188</td>
                          <td>80-90</td>
                        </tr>
                        <tr>
                          <td><span class="text--bold">XXXL</span></td>
                          <td>189-195</td>
                          <td>91-105</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
        <!-- </div> -->
      </div>

    </main>



    <!-- =================================================== -->

  </div>










</body>

</html>
