<!doctype html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:image:height" content="800">
  <link href="https://www.coolmate.me/css/sizechart.css?v=aniGMsrcl90C3a2sZF" rel="stylesheet" type="text/css">
</head>

<body class="size-chart-page  ">
  <div id="g_id_onload" data-client_id="902943331882-9ovkeogfjqv7k0sm6us39cd566nc77bo.apps.googleusercontent.com"
    data-login_uri="https://www.coolmate.me/google/one-tap-callback"
    data-_token="CiYBTDrBzJAPZcIqdKROFNbJPBqMkarp1jpy3LJ0">
  </div>
  <div id="app">
    <main class="site-size-chart">
      <div class="container container--medium">
        <h1 class="size-chart__heading">
          Hướng dẫn chọn size theo bàn chân
        </h1>
        <div class="size-chart__head">
          <span style="background-color: #a839ed;color: white;">1</span>
          <span style="background-color: #a839ed;color: white;">2</span>
          <span style="background-color: #a839ed;color: white;">3</span>
        </div>
        <!-- <div class="size-chart__inner"> -->
        <div class="grid">
          <div class="grid__column four-twelfths mobile--one-whole">
            <h3 style="margin-top:0.19rem;margin-bottom: 2.5rem;" class="size-chart__title">Kiểu giày</h3>
            <div id="size-select-table" style="width: 100%;">

              <mat-form-field style="width:100%;">
                <mat-label style="color: #a839ed;">{{nameProduct}}</mat-label>
                <mat-select style="max-height:220px">
                  <mat-form-field style="width:100%;" class="example-full-width" appearance="fill">
                    <input matInput placeholder="Mời bạn chọn thể loại giày...">
                  </mat-form-field>
                  <div *ngFor="let item of products">
                    <!-- <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"> -->
                    <mat-option class="option" style="width:100%;height: 60% ;background-color: rgb(255, 255, 255);"
                      (click)="uploadImage(item)" (click)="getSize()">
                      <img style="float:left;width:25%;" src="{{item.image}}" value="long-shirt">
                      <p style="width:60%;float: left;margin-top: 2rem;margin-left:2rem">{{item.name}}
                      </p>
                    </mat-option>
                    <!-- </mat-autocomplete> -->
                    <hr>
                  </div>
                </mat-select>
              </mat-form-field>

              <div class="size-chart__image" rel-script="size-chart-image">
                <img src="{{image}}" >
              </div>
            </div>
          </div>
          <div class="grid__column eight-twelfths mobile--one-whole">
            <div class="size-chart__content">
              <div id="size-suggestion" class="size-suggestion-content" data-height="155" data-weight="84"
                data-body="normal">
                <form action="" rel-script="size-suggestion">
                  <div class="size-suggestion">
                    <div class="grid">
                      <div class="grid__column six-twelfths mobile--one-whole">
                        <h3 class="size-chart__title">Thông số bàn chân</h3>

                        <!-- <mat-card class="example-result-card"> -->
                        <div style="padding:2px;padding-top:5px"><span>Độ dài bàn chân: </span> <b
                            style="float: right ;" class="gridSizeValue">{{height.value}} cm</b></div>

                        <mat-slider style="width:100% ;" #height (change)="updateHeight($event)" step="0.5" min="21"
                          max="27">
                        </mat-slider>

                        <div style="padding:2px;padding-top:5px"><span>Độ rộng bàn chân: </span> <b
                            style="float: right ;" class="gridSizeValue">{{weight.value}} cm</b></div>
                        <mat-slider style="width:100% ;" #weight (change)="updateWeight($event)" step="0.5" min="7.5"
                          max="11">
                        </mat-slider>
                      </div>





                      <!-- </mat-card> -->


                      <div class="grid__column six-twelfths mobile--one-whole">
                        <h3 class="size-chart__title">Gợi ý</h3>
                        <div class="size-suggestion__active" rel-script="size-suggestion-values">
                          <div class="size-suggestion__size-width">
                            <span style="text-transform: uppercase;">{{_type}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="size-chart__description">
                <h3>Bảng Size</h3>
                <p>
                  * Cách để đo được chính xác size của bàn chân mình: Đặt chân lên 1 mặt phẳng(ví dụ tờ giấy)
                  rồi gạch bút ở các đầu ngón chân, gót và 2 bên.Từ đó sẽ có được độ dài và rộng của bàn chân
                </p>
              </div>
              <div id="size-table" class="size-chart__table">
                <div id="ao-oversize" class="size-cart__item mgb--20">
                  <div class="size-cart__table">
                    <table class="table-sizechart one-whole">
                      <thead>
                        <tr>
                          <td><span>Kích thước<br>(size)</span></td>
                          <td>
                            <span>Chiều dài bàn chân<br>(cm)</span>
                          </td>
                          <td>
                            <span>Chiều rộng bàn chân<br>(cm)</span>
                          </td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><span class="text--bold">32</span></td>
                          <td>21</td>
                          <td>7.5 - 8 </td>
                        </tr>
                        <tr>
                          <td><span class="text--bold">33</span></td>
                          <td>21.1 - 21.5</td>
                          <td>8</td>
                        </tr>
                        <tr>
                          <td><span class="text--bold">34</span></td>
                          <td>21.6 - 22	</td>
                          <td>8 - 8.5	</td>
                        </tr>
                        <tr>
                          <td><span class="text--bold">35</span></td>
                          <td>22.1 - 22.5	</td>
                          <td>8.5</td>
                        </tr>
                        <tr>
                          <td><span class="text--bold">36</span></td>
                          <td>22.6 - 23	</td>
                          <td>8.5 - 9	</td>
                        </tr>
                        <tr>
                          <td><span class="text--bold">37</span></td>
                          <td>23.1 - 23.5	</td>
                          <td>9</td>
                        </tr>
                        <tr>
                          <td><span class="text--bold">38</span></td>
                          <td>23.6 - 24	</td>
                          <td>9 - 9.5</td>
                        </tr>
                        <tr>
                          <td><span class="text--bold">39</span></td>
                          <td>24.1 - 24.5	</td>
                          <td>9.5</td>
                        </tr>
                        <tr>
                          <td><span class="text--bold">40</span></td>
                          <td>24.6 - 25	</td>
                          <td>9.5-10</td>
                        </tr>
                        <tr>
                          <td><span class="text--bold">41</span></td>
                          <td>25.1 - 25.5	</td>
                          <td>10</td>
                        </tr>
                        <tr>
                          <td><span class="text--bold">42</span></td>
                          <td>25.6 - 26	</td>
                          <td>10 - 10.5</td>
                        </tr>
                        <tr>
                          <td><span class="text--bold">43</span></td>
                          <td>10.5 	</td>
                          <td>11</td>
                        </tr>
                        <tr>
                          <td><span class="text--bold">44</span></td>
                          <td>10.5 - 11	</td>
                          <td>11</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
        <!-- </div> -->
      </div>

    </main>



    <!-- =================================================== -->

  </div>










</body>

</html>