<br><br><br><br><br>
<form [formGroup]="loginForm" class="container" style="width:60%">
  <div class="container ">
    <div class="row" style="width:100%;margin:auto">
      <div class="col-sm-6"><img class="img-fluid"
          srcset="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,b_rgb:f5f5f5/d848a83c-3f41-421e-adb5-b1c319a5b8c7/sb-zoom-blazer-mid-prm-skate-shoes-LJH748.png 2x" style="padding-top: 15px;
          padding-bottom: 13px;" alt=""></div>
      <div class="col-sm-6" style="padding-right: 55px;padding-top: 24px;">
        <br>
        <h2 style="font-family: 'Segoe UI';"><b>DATN 35.</b></h2>
        <p>Mời bạn đăng nhập để tiếp tục...</p>
        <br>
        <input class="form-control" type="text" placeholder="Email" formControlName="email">
        <div *ngIf="f['email'].touched && f['email'].invalid">
          <p class="red_text" *ngIf="f['email'].errors && f['email'].errors['required']">Email không được để trống.</p>
          <p class="red_text" *ngIf="f['email'].errors && f['email'].errors['email']">Email không đúng định dạng.</p>
        </div>

        <input class="form-control mt-3" type="password" placeholder="Mật khẩu" formControlName="password">
        <div *ngIf="f['password'].touched && f['password'].invalid">
          <p class="red_text" *ngIf="f['password'].errors && f['password'].errors['required']"> Mật khẩu không được để
            trống.</p>
          <p class="red_text" *ngIf="f['password'].errors && f['password'].errors['minlength']">Mật khẩu không được nhỏ
            hơn 6 ký tự.
          </p>
        </div>
        <button type="button" (click)="login()">Đăng nhập</button>
        <p class="text-center mt-1">Bạn chưa có tài khoản? <a href="/sign-up"><u>Đăng ký</u></a></p>

        <hr>
        <p class="text-center"><a href="/forgot-password">Quên mật khẩu?</a></p>

      </div>
    </div>

  </div>
</form>
