.product_image {
  width: 50px;
  height: 50px;
}

.product {
  position: absolute;

}

.count {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #000000;
  right: -11px;
  top: -11px;
  position: absolute;
}

.hi_text {
  padding-left: 8px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: bold;
}

.text_name {
  padding-left: 70px;
}

.text-end {
  padding-right: 10px;
}

button {
  height: 40px;
  width: 200px;
  margin-top: 30px;
  position: relative;
  top: 50%;
  left: 7%;
  margin-right: 6px;
  background-color: black;
  color:white;
  border-color: black;
}
.his{
  background-color: white;
  color:black
  /* border-color: white */
}
