<!-- Spinner -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="small" color="white" type="circle
">
  <p style="color: white">{{spinnerText}}</p>
</ngx-spinner>

<!-- End spinner -->

<form [formGroup]="form" class="container" style="margin-top: 200px;">

  <div class="pt-2">
    <h3 class="text-center mb-4 mt-4">QUÊN MẬT KHẨU</h3>
  </div>
  <div *ngIf="show" class="check mb-4 form-group " style="background-color: rgb(241, 241, 144);">
    Một link reset mật khẩu đã được gửi tới Email của bạn...
  </div>
  <div class="mb-4 form-group">
    <input (click)="check()" type="email" class="form-control mb-2" formControlName="email" id="email" placeholder="Vui lòng nhập email">
    <div *ngIf="f['email'].touched && f['email'].invalid">
      <p class="red_text" *ngIf="f['email'].errors && f['email'].errors['required']">Email không được để trống.</p>
      <p class="red_text" *ngIf="f['email'].errors && f['email'].errors['email']">Email không đúng định dạng.</p>
    </div>
    <p class="red_text">{{errorMessage}}</p>

  </div>
  <button type="submit" style="border: none" *ngIf="form.valid" class="w-100 mb-4" (click)="forgotPassword()">Xác nhận
  </button>
  <button type="submit" style="border: none;background-color: #ac06da" *ngIf="!form.valid" class="w-100 mb-4"
    (click)="forgotPassword()">Xác nhận </button>

  <p class="mb-0 text-center">Bạn chưa có tài khoản? <a href="/sign-up" class="text-decoration-none"><u>Đăng
        ký</u></a>
  </p>
  <p class="mb-0 text-center mt-2 mb-4 pb-2"> <a routerLink="/sign-in">
      < <u>quay lại</u>
    </a></p>
</form>
