body,
html {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Helvetica, sans-serif;
  font-size: 12px;
  -webkit-text-size-adjust: none;
}
a,
a:active,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}

body {
  min-width: 1188px;
}
#container,
body {
  background: #eff0f5;
}
#container {
  visibility: hidden;
}
#pdp-nav {
  background: #eff0f5;
}
#root.pdp-block {
  width: 1188px;
  background-color: #eff0f5;
  margin: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 24px;
  overflow: hidden;
}
.pdp-block__main-information {
  background: #fff;
  padding-bottom: 16px;
}
.pdp-block__gallery {
  width: 338px;
  display: inline-block;
  vertical-align: top;
}
.pdp-block__main-information-detail {
  display: inline-block;
  width: calc(100% - 338px);
  vertical-align: top;
}
.pdp-block__product-detail {
  display: inline-block;
  width: calc(100% - 330px);
  vertical-align: top;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pdp-block__delivery-seller {
  width: 330px;
  display: inline-block;
  vertical-align: top;
}
.pdp-block__rating-questions-summary {
  display: table;
  width: 100%;
}
.pdp-block__rating-questions {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
.pdp-block__share {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}
.pdp-block__add-on-service,
.pdp-block__combo,
.pdp-block__multisource {
  margin-top: 12px;
}
.pdp-block__additional-information {
  width: 100%;
  margin-top: 12px;
  table-layout: fixed;
}
.pdp-block__product-ads,
.pdp-block__product-description {
  display: inline-block;
  vertical-align: top;
}
.pdp-block__product-ads {
  width: 200px;
  padding-left: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pdp-block__recommendation {
  margin-top: 12px;
}
.background-1 {
  background-color: #f1f1f1;
}
.background-2 {
  background-color: #fff;
}
.no-padding {
  padding: 0 !important;
}
.no-padding-lr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.fixed-width-full {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  width: 100%;
}
.block-padding-bottom {
  padding-bottom: 12px;
}
.block-margin-top {
  margin-top: 12px;
}
.block-margin-left {
  margin-left: 12px;
}
.block-margin-bottom {
  margin-bottom: 12px;
}
ul.taobao-menu__list {
  width: 1168px;
  min-width: 1168px;
}
.desktop-footer {
  display: none;
}
.pdp-skeleton {
  width: 100%;
  height: 100vh;
  background-color: #f1f1f1;
  margin: auto;
  position: absolute;
  z-index: 1;
  left: 0;
  -webkit-transition: opacity 0.6s linear;
  transition: opacity 0.6s linear;
  opacity: 1;
}
.pdp-skeleton__main {
  height: 100vh;
  background-color: #fff;
  display: table;
  position: absolute;
  left: calc(50% - 594px);
  width: 1188px;
}
.pdp-skeleton__gallery {
  padding: 8px 0 8px 8px;
  width: 338px;
  display: table-cell;
}
.pdp-skeleton__gallery-preview {
  width: 338px;
  height: 346px;
  margin-bottom: 12px;
}
.pdp-skeleton__gallery-thumbnails {
  display: inline-block;
}
.pdp-skeleton__gallery-thumbnail {
  width: 52px;
  height: 52px;
  display: inline-block;
}
.pdp-skeleton__gallery-thumbnail:not(:last-child) {
  margin-right: 14px;
}
.pdp-skeleton__product {
  display: table-cell;
  width: calc(100% - 346px);
  vertical-align: top;
  font-size: 0;
}
.pdp-skeleton__product-info {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 330px);
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pdp-skeleton__product-title {
  margin: 21px 0 16px;
  height: 26px;
  width: 100%;
}
.pdp-skeleton__product-review {
  height: 24px;
  width: 100%;
  margin-bottom: 23px;
}
.pdp-skeleton__price {
  height: 50px;
  width: 204px;
  margin: 23px 0 24px;
}
.pdp-skeleton__delivery-seller {
  display: inline-block;
  vertical-align: top;
  width: 330px;
  font-size: 0;
  height: 90%;
}
.pdp-skeleton__delivery {
  background-color: #fafafa;
  height: 285px;
  padding: 20px 16px;
}
.pdp-skeleton__delivery-header {
  height: 13px;
  width: 40%;
  margin-bottom: 8px;
}
.pdp-skeleton__delivery-header-title {
  height: 13px;
  width: 103px;
}
.pdp-skeleton__delivery-header-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 20px;
  right: 15px;
}
.pdp-skeleton__delivery-item {
  padding: 10px 0 20px;
  display: table;
  width: 100%;
}
.pdp-skeleton__delivery-item-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.pdp-skeleton__delivery-item-title {
  height: 19px;
  display: inline-block;
  width: calc(100% - 34px);
  vertical-align: middle;
  margin-left: 10px;
}
.pdp-skeleton__delivery-item-price {
  text-align: right;
  width: 50px;
  height: 20px;
  float: right;
  margin-top: 2px;
}
.pdp-skeleton__buy-now {
  width: 238px;
  height: 44px;
  margin-top: 28px;
}
.pdp-skeleton__seller {
  background: #fafafa;
  margin-top: 8px;
  padding-top: 13px;
  height: 180px;
}
.pdp-skeleton__seller-name-label {
  width: 40px;
  height: 16px;
  margin: 0 0 4px 16px;
}
.pdp-skeleton__seller-name {
  width: 114px;
  height: 19px;
  margin-left: 16px;
  margin-bottom: 11px;
}
.pdp-skeleton__seller-info {
  display: inline-block;
  margin-bottom: 13px;
}
.pdp-skeleton__seller-info-item {
  display: inline-block;
  width: 33.3333333333%;
  border-top: 1px solid #eff0f5;
  border-bottom: 1px solid #eff0f5;
  padding: 7px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pdp-skeleton__seller-info-item:not(:last-child) {
  border-right: 1px solid #eff0f5;
}
.pdp-skeleton__seller-info-label {
  width: 90px;
  height: 14px;
}
.pdp-skeleton__seller-info-content {
  width: 59px;
  height: 28px;
  margin-left: 13px;
  margin-top: 22px;
}
.pdp-skeleton__seller-link {
  width: 81px;
  height: 16px;
  margin: auto;
}
.pdp-skeleton__divider,
.pdp-skeleton__divider-space {
  width: 100%;
  height: 1px;
  background: #eff0f5;
}
.pdp-skeleton__divider-space {
  margin-top: 12px;
  margin-bottom: 24px;
}
.pdp-skeleton__variation {
  margin-bottom: 12px;
}
.pdp-skeleton__variation-label {
  height: 14px;
  width: 43px;
  display: inline-block;
  margin-right: 49px;
}
.pdp-skeleton__variation-list {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 12px;
}
.pdp-skeleton__variation-list-wrapper {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 92px);
}
.pdp-skeleton__variation-item {
  display: inline-block;
  width: 86px;
  height: 32px;
}
.pdp-skeleton__variation-item:not(:last-child) {
  margin-right: 12px;
}
@-webkit-keyframes skeleton-animation {
  0% {
    background-position: -200px 0;
  }
  to {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes skeleton-animation {
  0% {
    background-position: -200px 0;
  }
  to {
    background-position: calc(200px + 100%) 0;
  }
}
.loading-skeleton {
  -webkit-animation: skeleton-animation 1.2s ease-in-out infinite;
  animation: skeleton-animation 1.2s ease-in-out infinite;
  background-color: #eee;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#eee),
    color-stop(#f5f5f5),
    to(#eee)
  );
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-repeat: no-repeat;
  background-size: 200px 100%;
}
.pdp-layout-column-1 .pdp-block__product-description {
  width: 100%;
}
.pdp-layout-column-1 .pdp-block__product-ads {
  display: none;
}
.pdp-layout-column-1 .pdp-block__recommendation,
.pdp-layout-column-2 .pdp-block__product-description {
  width: calc(100% - 200px);
}
.pdp-layout-column-2 .pdp-block__recommendation {
  width: 100%;
}
